.primary-menu li a {
    color: white;
    font-weight: bold;
}

.bg-nav {
    background-color: #0e28b9;
}

.primary-menu li {
    padding-right: 40px;
}


/* dropdown menu */

.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #194292;
    /* font-size: 30px; */
}